@charset "utf-8";


#main{
    background: rgb(246,246,246);
    position: relative;
}
.banner{
    height: 506px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.bannerImgs {
    position: absolute;
    left: calc(50% - 960px);
}
.bannerPoint{
    position: absolute;
    bottom: 86px;
    left: 350px;

}
.pointList>li{
    float: left;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}
.pointListItem{
    background: #fff;
}
.pointList-active{
    background: red;
}
.bannerArr{
    position: absolute;
    top: 50%;
    width: 100%;
    display:none;
}
.bannerArr>div{
    position: relative;
}
.bannerArr a{
    position: absolute;
    top: -34px;
    width: 34px;
    height: 68px;
    background: url(../images/sprite.png) no-repeat;
}
.bannerArr .prev{
    left: 169px;
    background-position: -625px -68px;
}
.bannerArr .next{
    right: 0;
    background-position: -670px -67px;
 }
 .bannerArr .prev:hover{
    background-position: -625px -153px;
 }
 .bannerArr .next:hover{
    background-position: -670px -153px;
 }
 .contentWrap{
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 46px;
     background-color:rgba(0,0,0,0.3);
     line-height: 46px;

 }
 .contentWrap a{
     margin-right: 40px;
     color: #fff;
 }
 .contentWrap .iconfont{
    font-size: 22px;
    margin-right: 6px;
    vertical-align: -4px;
 }
 .contentWrap span:hover{
    text-decoration: underline;
    cursor: pointer;
}
.appDownLoad >a{
    margin-right: 0;
}

.part1-c{
    width: 1000px;
    margin: 0 auto;
    height: 308px;
    position: relative;
}
.part1-c>div{
    position: absolute;
    width: 1349px;
    height: 308px;
    left: calc(50% - 674.5px);
    background: url(https://kaola-haitao.oss.kaolacdn.com/0f584d8e-12e0-4cba-883d-c58769340deeT2005291133_1920_308.png?x-oss-process=image/resize,w_1920,h_308/quality,q_95) no-repeat center 0;
}
.part1-c>a{
    position: absolute;
    width: 100%;
    height: 100%;
}
.part2-c{
    width: 1100px;
    margin: 0 auto;
}
.partTitle{
    box-sizing: border-box;
    height: 74px;
    padding-top: 25px;
    border-top: 1px solid #e9e9e9;

    font-size: 14px;
    color: #999;
    line-height: 32px;
    position: relative;
}
.partTitle a{
    color: #999;
}
.partTitle a:hover{
    text-decoration: underline;
}
.partTitle-h{
    margin-right: 20px;
    font-weight: 700;
    font-size: 22px;
    color: #333;
}
.partTitle-u{
    position: relative;
    top: 3px;
}
.partTitle-u>li{
    float: left;
    margin-right: 24px;
}
.partTitle-u .keyWord{
    margin-right: 14px;
}
.more{
    position: absolute;
    right: 0;
    top: 24px;
}
.partContent{
    background: #fff;
}
.partCon-l{
    position: relative;
}
.partCon-l>a{
    display: block;
    width: 330px;
    height: 541px;
    background: url(https://kaola-haitao.oss.kaolacdn.com/4O1yWA5GGK2deliT06U9x6wSNf_330_542T1811012029_330_542.jpg?x-oss-process=image/resize,w_330/quality,q_95) no-repeat;
}
.partCon-l-list{
    position: absolute;
    left: 24px;
    bottom: 24px;
}
.partCon-l-list>li{
    float: left;
    margin: 0 18px 8px 0;
}
.partCon-l-list>li>a{
    display: block;
    width: 80px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    padding: 11px 0;
    font-size: 12px;
    color: #333;
    border-radius: 40px;
    border: 1px solid #eee;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
}
.partCon-c{
    width: 550px;
    border: 1px solid #e9e9e9;
    border-width: 1px 0;
}
.partCon-c-list>li{
    float: left;
    width: 274px;
    height: 269px;
    text-align: center;
    border: 1px solid #e9e9e9;
    border-width: 0 1px 1px 0;
}
.partCon-c-list>li>a{
    display: block;
    padding: 30px 0 0;
    height: 200px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.partCon-c-h{
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    margin: 0 10px;
    
}
.partCon-c-p{
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 10px 14px;
}
.partCon-c-i{
    background: url(../images/bg.jpg) no-repeat center #fff;
}
.partCon-r{
    width: 219px;
    border: 1px solid #e9e9e9;
    border-width: 0 1px 1px 0;
    position: relative;
    overflow: hidden;
}
.partCon-r-h{
    font-size: 16px;
    color: #333;
    font-weight: 700;
    height: 58px;
    line-height: 58px;
    padding: 0 0 0 10px;
    border: 1px solid #e9e9e9;
    border-width: 1px 1px 1px 0;
    position: relative;
}
.partCon-r-h>ul{
    position: absolute;
    top:calc(50% - 3px);
    right: 9px;
}
.partCon-r-h-list{
    float: left;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 0 2px;
    background: #e1e1e1;
    cursor: pointer;
}
.partCon-r-h-active{
    background: #333;
    
}
.partCon-r-item{
    border-bottom: 1px dotted #e9e9e9;
    padding: 27px 14px 0 0;
    height: 92px;
}
.partCon-r-i{
    margin: 0 7px 0 4px;
}
.partCon-r-desc{
    height: 36px;
    line-height: 18px;
    overflow: hidden;
}
.partCon-r-desc>a{
    color: #666;
}
.partCon-r-desc>a:hover{
    text-decoration: underline;
}
.partCon-r-price{
    margin: 6px 0 0;
    font-size: 12px;
    color: #ff1e32;
}
.partCon-r-price>strong{
    font-size: 20px;
    font-weight: 700;
}
.partCon-r-price>:last-child{
    color: #999;
    margin: 0 0 0 12px;
    font-size: 14px;
}
.partBrand{
    margin: 20px 0 40px;
    border: 1px solid #eaeaea;
    line-height: 167px;
    background: #fff;
}
.partBrand-tit{
    font-size: 16px;
    color: #000;
    font-weight: 700;
    text-indent: 20px;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #eaeaea;
}
.partBrand-list{
    width: 1111px;
    margin-right: -1px;
}
.partBrand-list>a{
    display: block;
    float: left;
    width: 219px;
    height: 167px;
    border-left: 1px solid #e9e9e9;
    text-align: center;
    position: relative;
}
.partBrand-list>a>img{
    background: url(../images/bg.jpg) no-repeat center #fff;
}
.partBrand-list>a:first-child{
    border: 0;
}
.toast{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -38px;
    padding: 0 20px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background-color: #000;
    color: #fff;
    border-radius: 12px;
    font-size: 12px;
    opacity: 0;
}
.partBrand-list>a>:nth-child(2){
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
}
.follow{
    background: url(../images/love1.png) no-repeat center;
    display: none;

}
.followed{
    background: url(../images/love2.png) no-repeat center;
}
.brand-c{
    width: 1100px;
    margin: 40px auto 0;
}
.brand-h{
    box-sizing: border-box;
    height: 74px;
    padding-top: 25px;
    border-top: 1px solid #e9e9e9;
    font-size: 14px;
    color: #999;
    line-height: 32px;
    font-weight: 400;
    position: relative;
}
.brand-h>span{
    margin-right: 10px;
    font-size: 22px;
    color: #333;
    font-weight: 700;
}
.change{
    position: absolute;
    top: 26px;
    right: 4px;
    font-size: 14px;
    color: #999;
}
.change>span{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    margin-left: 4px;
    transform: rotate(0);
    transition: all 0.6s linear;
}
.change:hover{
    text-decoration: underline;
}
.change:hover span{
    transform: rotate(1turn);
}
.brandCont{
    height: 355px;
    overflow: hidden;
}
.brandCont-l{
    position: relative;
    width: 219px;
    border-right: 1px solid #e9e9e9;
    // margin-right: -220px;
    overflow: hidden;
}
.brandCont-tab{
    width: 219px;
    height: 355px;
    position: relative;
}
.brandCont-item>a{
    display: block;
    text-align: center;
}
.brandCont-item>a>img{
    width: 219px;
    height: 219px;
}
.brandCont-txt{
    height: 136px;
    background: #000;
    color: #fff;
    opacity: 0.8;
    
}
.brandCont-txt>p{
    margin: 0 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.brandCont-txt .name{
    padding-top: 41px;
    padding-bottom: 4px;
    font-size: 20px;
    font-weight: 700;
    
}
.brandCont-txt .desc{
    font-size: 14px;
}
.brandCont-line{
    position: absolute;
    left: -220px;
    top: 219px;
    width: 220px;
    height: 2px;
    background-color: #ff1e32;
}
.brandCont-l>a{
    position: absolute;
    top: 93px;
    width: 28px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    background: #000;
    opacity: 0.25;
    display: none;
    
}
.brandCont-prev{
    left: 0;
}
.brandCont-next{
    right: 0;
}
.brandCont-l span{
    font-size: 22px;
}
.brandCont-l>a:hover{
    opacity: 0.5;
}
.brandCont-r{
    border-top: 1px solid #e9e9e9;
    width: 880px;
}
.recomBrand{
    position: relative;
    float: left;
    width: 219px;
    height: 176px;
    border: 1px solid #e9e9e9;
    border-width: 0 1px 1px 0;
    background: #fff;
   
}
.brandInfor{
    width: 100%;
    height: 100%;
}
.brandLogo{
    display: block;
    margin: 12px auto 0;
    transform: scale(1);
    transition: all 0.3s linear;

}
.brandDesc{
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.3s linear;

}
.brandMsak{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
}
.recomBrand:hover .brandLogo{
    transform: scale(0.66);
}
.recomBrand:hover .brandDesc{
    opacity: 0;
}
.recomBrand:hover .brandMsak{
    opacity: 1;
    transition: all 0.3s linear;
}
.focusBtn:hover{
    background-color: #f5f5f5;
}
.focusNum{
    margin: 99px 0 8px;
    color: #999999;
}
.focusBtn{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 52px;
    height: 20px;
    line-height: 20px;
    color: #999;
    border: 1px solid #999;
    border-radius: 20px;
}
.enterBrand{
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    width: 88px;
    height: 36px;
    line-height: 32px;
    color: #ff1e3c;
    border-radius: 32px;
    border: 2px solid #ff1e3c;
    font-size: 14px;
}
.enterBrand:hover{
    background-color: #fff4f5;
}
.guess-c{
    width: 1100px;
    margin:10px auto 0;
}
.guessTit{
    height: 38px;
    line-height: 38px;
    color: #333;
    font-weight: 700;
    font-size: 22px;
    padding: 20px 0 5px;
}
.guessTit>span{
    font-size: 14px;
    color: #666;
    font-weight: 400;
    padding-left: 12px;
}
.guessList{
    margin: 0 -10px;
}
.guessItem{
    margin: 0 10px;
    width: 260px;
    height: 382px;
}
.guessItemImg{
    display: block;
    width: 180px;
    height: 180px;
    border: 1px solid #e9e9e9;
    background: #fff;
    padding: 39px;
}
.guessItemImg>img{
    width: 100%;
}
.guessItemTit{
    box-sizing: border-box;
    height: 45px;
    padding: 0 30px 0 0;
    font-weight: 700;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 7px 0 14px;
}
.guessItemTit>a{
    line-height: 24px;
    font-size: 16px;
    color: #333;
}
.guessItemPrice{
    padding: 0 15px 0 0;
}
.curPrice{
    font-size: 20px;
    font-weight: 700;
    line-height: 14px;
    color: #ff1e32;
}
.symbol{
    font-size: 14px;
    font-weight: 400;
}
.prePrice{
    padding-left: 10px;
    color: #999;
    font-size: 12px;
    font-weight: 400;

}
.comment{
    height: 24px;
    line-height: 20px;
    color: #999;
}
.comment:hover{
    text-decoration: underline;
}

#topSearch{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: none;
}
.topLogo>a{
    display: block;
    margin-top: 5px;
    width: 162px;
    height: 40px;
    background: url(../images/logo2.png) no-repeat;

}
.topSearch{
    margin:4px 0 0 181px;
}
#asideLeft{
    position: absolute;
    top: 525px;
    left: 50%;
    margin-left: -665px;
    width: 99px;
    background: #fff;
}
#asideLeft a{
    display: block;
}
.chanel{
    border: 1px solid #eaeaea;
    height: 50px;
    line-height: 50px;
    padding-left: 9px;
    font-size: 14px;
    font-weight: 700;
    color: #333;
}
.floor{
    border: 1px solid #eaeaea;
    border-top: none;
    padding: 10px 0;
}
.floor a{
    height: 32px;
    line-height: 32px;
    padding-left: 9px;
    font-size: 12px;
    color: #999;
}
#asideRight{
    position: absolute;
    top: 525px;
    left: 50%;
    margin-left: 565px;
}
.asideRightItem>a{
    display: block;
    width: 62px;
    height: 48px;
    padding: 12px 0 0;
    border-bottom: 1px solid #eaeaea;
    background: #fff;
    text-align: center;
    color: #333;
    position: relative;
}
.asideRightIcon{
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    
}
.rightArr{
    position: absolute;
    top: 10px;
    right: 0;
}
.rightArr1{
    width: 0;
    height: 0;
    border-top: 8px solid rgba(153, 54, 54, 0);
    border-bottom: 8px solid rgba(255, 0, 0, 0);
    border-right: 8px solid rgba(255, 0, 0, 0);
    border-left: 8px solid #e4e4e4;
    position: absolute;
    right: -16px;
}
.rightArr2{
    width: 0;
    height: 0;
    border-top: 8px solid rgba(153, 54, 54, 0);
    border-bottom: 8px solid rgba(255, 0, 0, 0);
    border-right: 8px solid rgba(255, 0, 0, 0);
    border-left: 8px solid #fff;
    position: absolute;
    right: -15px;
}
.icon1{
    background: url(../images/qiandao.png) no-repeat center;
}
.icon2{
    background: url(../images/car.png) no-repeat center;
}
.icon3{
    background: url(../images/app.png) no-repeat center;
}
.icon4{
    background: url(../images/top.png) no-repeat center;
}
.signIn{
    position: absolute;
    left: -100px;
    top: 10px;
    width: 66px;
    border-radius: 4px;
    background: #fff;
    text-align: center;
    color: #333;
    border: 1px solid #eaeaea;
    padding: 10px;
    line-height: 16px;
    display: none;

}
.qrcode{
    position: absolute;
    left: -156px;
    top: -50px;
    width: auto;
    height: auto;
    padding: 35px 8px 8px 0;
    background: url(../images/rbg.png) no-repeat 0 0;
    display: none;
}
.qrcode>img{
    width: 120px;
    height: 120px;
    margin: 8px;
}
.qrcode>:nth-child(2){
    color: #000;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}
.qrcode>:nth-child(3){
    color: red;
    font-size: 12px;
    line-height: 17px;
}
.asideRightItem>a:hover >span{
    color: red;
}
.asideRightItem:hover .icon1{
    background: url(../images/qiandao1.png) no-repeat 0 0;

}
.asideRightItem:hover .icon2{
    background: url(../images/car1.png) no-repeat 0 0;
    
}
.asideRightItem:hover .icon3{
    background: url(../images/app1.png) no-repeat 0 0;
    
}
.asideRightItem:hover .icon4{
    background: url(../images/top1.png) no-repeat 0 0;
    
}
.asideRightItem:hover .signIn{
    display: block;
}
.asideRightItem:hover .qrcode{
    display: block;
}